* {
	font-family: 'Roboto', sans-serif;
	color: white;
	list-style-type: none; /* Remove bullets */
}

/*element selector*/
h1, p, li {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

ul {
  position: absolute;
}
